@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "navbar.scss";
@import "masthead.scss";
@import "post.scss";
@import "contact.scss";
@import "footer.scss";
@import "bootstrap-overrides.scss";



// Home page filters

.blogPost {
    // -webkit-transition: all 0.2s;
    // -moz-transition: all 0.2s;
    // transition-delay: all 0.4s;
    transition: all .6s;
    height: auto;
    opacity: 1;
}

.hidden {
    // transition-delay: opacity 0.4s;
    transition: all .6s;
    height: 0;
    opacity: 0;
}

.filter-text {
    font-size: 16px;
    margin: .5em 0;
}

.filter {
    // @include button-variant($white,$gray-900,$gray-900);
    font-size: 16px;
    color: $gray-600;
    align-content: center;
    text-align: center;
    margin: 0 1em;
    cursor: pointer;

    &:hover {
        color: $gray-900;
    }
}

//Google Maps

.gmap {
    height: auto;
    margin-bottom: 1em;
}

#map {
    height: 75vh;
}

.place {
    cursor: pointer;
    text-decoration: underline;
}
